[commit]
verbose = true
gpgsign = true

[core]
editor = vim
excludesfile = ~/.gitignore_global

[github]
user = issyl0

[init]
defaultBranch = main

[pull]
rebase = false

[rebase]
autostash = true
autosquash = true

[user]
name = Issy Long
email = me@issylong.com
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEjjtg6DNmdyjLGToh2BkMnaTiGzqiSq4QXe1vTFlfvN

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
